export(add.formula)
export(addMB)
export(addPeaks)
export(addPeaksManually)
export(aggregateSpectra)
export(analyzeMsMs)
export(analyzeMsMs.formula)
export(analyzeMsMs.intensity)
export(annotator.default)
export(archiveResults)
export(cleanElnoise)
export(combineMultiplicities)
export(compileRecord)
export(createMolfile)
export(CTS.externalIdSubset)
export(CTS.externalIdTypes)
export(dbe)
export(deprofile)
export(deprofile.fwhm)
export(deprofile.localMax)
export(deprofile.scan)
export(deprofile.spline)
export(exportMassbank)
export(filterMultiplicity)
export(filterPeakSatellites)
export(filterPeaksMultiplicity)
export(findCAS)
export(findEIC)
export(findFormula)
export(findMass)
export(findMsMsHR)
export(findMsMsHR.direct)
export(findMsMsHR.mass)
export(findMsMsHRperxcms.direct)
export(findMz)
export(findMz.formula)
export(findName)
export(findProgress)
export(findRt)
export(findSmiles)
export(flatten)
export(formulastring.to.list)
export(gatherCompound)
export(gatherData)
export(gatherSpectrum)
export(getCactus)
export(getCtsKey)
export(getCtsRecord)
export(getMolecule)
export(getPcId)
export(is.valid.formula)
export(list.to.formula)
export(loadInfolist)
export(loadInfolists)
export(loadList)
export(loadMsmsWorkspace)
export(loadRmbSettings)
export(loadRmbSettingsFromEnv)
export(makeMollist)
export(makeRecalibration)
export(mbWorkflow)
export(msmsWorkflow)
export(multiply.formula)
export(newMbWorkspace)
export(newMsmsWorkspace)
export(order.formula)
export(parseMassBank)
export(plotRecalibration)
export(plotRecalibration.direct)
export(ppm)
export(problematicPeaks)
export(progressBarHook)
export(readMbdata)
export(reanalyzeFailpeak)
export(reanalyzeFailpeaks)
export(recalibrate)
export(recalibrate.addMS1data)
export(recalibrate.identity)
export(recalibrate.linear)
export(recalibrate.loess)
export(recalibrate.mean)
export(recalibrateSingleSpec)
export(recalibrateSpectra)
export(resetInfolists)
export(resetList)
export(RmbDefaultSettings)
export(RmbSettingsTemplate)
export(smiles2mass)
export(to.limits.rcdk)
export(toMassbank)
export(toRMB)
export(validate)
exportClasses(mbWorkspace)
exportClasses(msmsWorkspace)
exportMethods(show)
import(mzR)
import(RCurl)
import(rjson)
import(XML)
importClassesFrom(mzR)
importMethodsFrom(mzR)
